.skills-container {
    background-color: #F5F8FD;
    padding-left: 20%; /* Spacing from the left */
    padding-right: 5%; /* Spacing from the right */
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    min-height: auto;
}

.skills-title {
    text-align: left;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #159DDD;
    color: #173B6C;
}

.skills-intro {
    font-size: 1em;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: left;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.skill-label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

.skill-percentage {
    align-self: flex-end;
    margin-bottom: 5px;
}

.skill-progress-bar {
    width: 100%;
    background-color: #ddd;
    overflow: hidden;
}

.skill-progress {
    background-color: #159DDD;
    height: 10px;
    transition: width 1s ease-in-out;
}

@media (max-width: 768px) {

    .skills-container{
        padding-left: 60px; /* Adjusted to make room for the navbar */
        padding-top: 20px; /* Adjust if needed to align content vertically */
        padding-right: 10px; /* Ensure right padding is sufficient */
        padding-bottom: 20px; /* Adjust if needed */
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}
