.App {
  /* Removed text-align to prevent conflict with child components */
}

.section-home,
.section-about,
.section-education,
.section-experience,
.section-contact,
.section-skills,
.section-projects{
  margin: 0; /* Reset any default margins */
  padding: 0; /* Reset any default padding */
  min-height: auto;
  box-sizing: border-box; /* Include padding in the box model calculation */
}

/* Styles for individual sections - customize as per your design */
.section-home {
  background-color: #f8f8f8;
}

.section-about {
  /* Ensure that background color fills the section */
  background-color: #fff; /* Change this as per your desired background color */
}

/* ... similarly style other sections ... */

/* Responsive Design */
@media (max-width: 768px) {
  /* Responsive styles if needed */
}
